<div class="col-sm-5 col-lg-4 mb-3">
  <div id="post-id-<%= item.id %>">
    <div class="card">
      <%= link_to item_path(item), class: "btn", data: { turbo: false } do %>
        <div class="card-body text-center">
          <iframe
            width="180" 
            height="320" 
            src="https://www.youtube.com/embed/<%= item.youtube_video_id %>" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
          </iframe>
          <div class="row">
            <div class="col-12">
              <%= item.title %>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              [タグ]
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              [送るボタン]
            </div>
            <div class="col-6">
              <%= link_to t('defaults.show'), item_path(item) %> 
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
