<h1><%= t('.title') %></h1>
<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <article class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <iframe
              width="180" 
              height="320" 
              src="https://www.youtube.com/embed/<%= @item.youtube_video_id %>" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen>
              </iframe>
            </div>
            <div class="col-md-9">
              <h3 style="display: inline;"><%= @item.title %></h3>
              <ul class="list-inline">
                <%= @item.description %>
              </ul>
              <ul class="list-inline">
                <%= @item.item_url %>
              </ul>
              <ul class='d-flex justify-content-end'>
                <li class="list-inline-item">
                  <%= link_to t('defaults.edit'), edit_item_path(@item), id: "button-edit-#{@item.id}" %>
                </li>
                <li class="list-inline-item">
                  <%= link_to t('defaults.delete'), item_path(@item),
                              id: "button-delete-#{@item.id}",
                              method: :delete,
                              data: { turbo_method: :delete, turbo_confirm: t('defaults.flash_message.delete_confirm') } %>
                </li>
              </ul>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
